@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "HelveticaNeueThin";
        src: url("../fonts/HelveticaNeueThin.ttf");
    }

    @font-face {
        font-family: "HelveticaNeueLight";
        src: url("../fonts/HelveticaNeueLight.ttf");
    }
    @font-face {
        font-family: "HelveticaNeueRegular";
        src: url("../fonts/HelveticaNeue.ttf");
    }
    @font-face {
        font-family: "HelveticaNeueMedium";
        src: url("../fonts/HelveticaNeueMedium.ttf");
    }

    @font-face {
        font-family: "HelveticaNeueBold";
        src: url("../fonts/HelveticaNeueBold.ttf");
    }
}

@layer components {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    span,
    a,
    input,
    select {
        @apply font-light;
    }
    .container {
        @apply max-w-desktopW mx-auto;
    }

    h1 {
        @apply text-6xl;
        @media screen and (max-width: 1500px) {
            @apply text-5xl;
        }
        @media screen and (max-width: 480px) {
            @apply text-2.5xl;
        }
    }
}
.navbar{
    padding-top: 20px;
    .desktop-menu{
        padding: 15px 20px;
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            @apply bg-diizz-white;
            border-radius: 50px;
            width: 100%;
            height: 100%;
            transition: left .3s ease-out;
        }
        &:hover&::before{

            left: 0;
        }
        li{
            padding: 0 15px;
            transition: color .3s ease-out;
            a{
                position: relative;
                padding-bottom: 8px;
                display: block;
                padding: 0;
                background-color: transparent;
                transition: color .3s ease-out;
                @apply font-regular;
                &:before,&:after{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    bottom: -2px;
                    @apply bg-diizz-main;

                }
                &:hover{
                    @apply text-diizz-main;
                }
                &::before{
                    left: 0;
                }
                &::after{
                    right: 0;
                    @apply bg-diizz-main;
                    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
                }
                &:hover&:before{
                    @apply bg-diizz-main;
                    width: 100%;
                    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                }
                &:hover&::after{
                    background: transparent;
                    width: 100%;
                    transition: 0s;
                }
            }
        }
        &:hover{
            li{
                @apply text-diizz-black;

            }
        }
    }
}
.diizz-banner-content {
    .diizz-banner-social {
        margin-bottom: 20px;
        li {
            margin-right: 20px;
            font-size: 20px;
            &:hover {
                @apply text-diizz-main;
            }
        }
    }
    h1 {
        @apply text-diizz-white font-medium;
        span {
            position: relative;
            @apply font-medium text-diizz-main;
            &:before {
                content: "";

                width: 96%;
                @apply bg-diizz-main;
                height: 5px;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s ease-out;
                border-radius: 50px;
                @media screen and (max-width: 480px) {
                    height: 3px;
                }
            }
        }
    }
}
.diizz-home-banner-cta {
    span {
        &.text {
            position: relative;
            padding: 10px 0;
            transition: color 0.3s ease-out;
            &:before {
                content: "";
                width: 15%;
                @apply bg-diizz-white;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s ease-out;
                border-radius: 50xp;
            }
        }
    }
    &:hover {
        .text {
            @apply text-diizz-main;
            &:before {

                width: 100%;
                @apply bg-diizz-main;
            }
        }
        .icon {
            bottom: -2px;
            @apply text-diizz-main;
        }
    }
}
.diizz-awards-container{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(72,72,72,1) 100%);
    .awards-photo-content{
        h2{
            @apply text-4xl font-medium text-diizz-white pb-[30px] ;
            text-transform: uppercase;
            span{
                @apply font-medium;
            }
        }
    }
    .awards-block{
        h3{
            @apply text-diizz-white text-3xl font-medium;
        }
        h5{
            @apply text-diizz-white text-2xl font-regular pt-[20px];
        }
        p{
            @apply text-diizz-white;
            span{
                color: #6f6f6f;

            }
        }
        &:hover{
        
            .content{
                opacity: .1;
                transition: opacity .3s ease-out;
                &.active{
                    opacity: 1;
                }
            }
            
        }
    }
}
